
# Standard .NET gitignore
bin/
obj/
config.mk
.idea/
.vscode/
*.user
*.suo
*.userprefs
*.lock.json
# OS specific
.DS_Store
Thumbs.db
.dotnet/

# Dependencies
external/

#build files
publish/

# Test files
*.wav
*.cue
*.py

*.wav
